.footer {
  font-family: "Inter", Arial, sans-serif;
  flex-shrink: 0;
  padding: 67px 0 60px;
}

.footer__description {
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
  color: #545454;
}

@media screen and (max-width: 621px) {
  .footer {
    padding: 48px 0 36px;
  }

  .footer__description {
    font-size: 14px;
    line-height: 17px;
    margin-left: 19px;
  }
}
