.page {
  background-color: black;
}

.page__section {
  width: 100%;
  max-width: 880px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smooothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  padding: 0;
}
